<!-- cartDetails.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart Details</title>
</head>
<body>
    <h1>Cart Details</h1>
    {{#if cart.products.length}}
        <ul>
            {{#each cart.products}}
                <li>
                    <strong>Product:</strong> {{this.productId.title}}<br>
                    <strong>Quantity:</strong> {{this.quantity}}<br>
                    <strong>Price:</strong> {{this.productId.price}}<br>
                </li>
            {{/each}}
        </ul>
        <form action="/api/carts/{{cart._id}}/purchase" method="GET">
            <button type="submit">Proceed to Purchase</button>
        </form>
    {{else}}
        <p>Your cart is empty.</p>
    {{/if}}
</body>
</html>

