<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Productos</h1>
    {{#if user}}
        <p>Bienvenido {{user.email}}</p>
        <p>Rol: {{user.role}}</p>
        {{#eq user.role 'admin'}}
            <p>Tienes funciones de administrador: adminCoder@coder.com</p>
        {{/eq}}
        <button id="logout-btn">Logout</button>
    {{else}}
        <button onclick="location.href='/register'">Registrarse</button>
        <button onclick="location.href='/login'">Iniciar Sesión</button>
    {{/if}}
    <ul>
        {{#each products}}
            <li>
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
                <button class="add-to-cart-btn" data-product-id="{{this._id}}" data-cart-id="{{user.cartId}}">Agregar al Carrito</button>
                <button onclick="location.href='/products/{{this._id}}'">Ver Detalles</button>
            </li>
        {{/each}}
    </ul>
    {{#if user.cartId}}
        <a href="/api/carts/{{user.cartId}}">Ver carrito</a>
    {{else}}
        <a href="#">Carrito no disponible</a>
    {{/if}}
    {{#if prevPage}}
        <button onclick="location.href='/products?page={{prevPage}}'">Anterior</button>
    {{/if}}
    {{#if nextPage}}
        <button onclick="location.href='/products?page={{nextPage}}'">Siguiente</button>
    {{/if}}
    <script src="/js/main.js"></script>
</body>
</html>
