<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>Productos</h1>
        {{#if user}}
            <p><strong>Bienvenido:</strong> {{user.email}}</p>
            <p><strong>Tu Rol es:</strong> {{user.role}}</p>
            {{#eq user.role 'admin'}}
                <p>Tienes funciones de administrador: adminCoder@coder.com</p>
            {{/eq}}
            <button id="logout-btn">Cerrar Sesión</button>
        {{else}}
            <button onclick="location.href='/register'">Registrarse</button>
            <button onclick="location.href='/login'">Iniciar Sesión</button>
        {{/if}}
    </header>
    <main>
        <div class="products-container">
            <ul class="product-list">
                {{#each products}}
                    <li class="product-item">
                        <h2>{{this.title}}</h2>
                        <p>{{this.description}}</p>
                        <p>Precio: ${{this.price}}</p>
                        <button class="add-to-cart-btn" data-product-id="{{this._id}}" data-cart-id="{{user.cartId}}">Agregar al Carrito</button>
                        <button onclick="location.href='/products/{{this._id}}'">Ver Detalles</button>
                    </li>
                {{/each}}
            </ul>
        </div>
        {{#if user}}
            <button id="view-cart-btn">Ver Carrito</button>
        {{else}}
            <button disabled>Carrito no disponible</button>
        {{/if}}
        <div class="pagination">
            {{#if prevPage}}
                <button onclick="location.href='/products?page={{prevPage}}'">Anterior</button>
            {{/if}}
            {{#if nextPage}}
                <button onclick="location.href='/products?page={{nextPage}}'">Siguiente</button>
            {{/if}}
        </div>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>
