<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
</head>
<body>
    <h1>Productos</h1>
    {{#if user}}
        <p>Bienvenido {{user.email}}</p>
        <p>Rol: {{user.role}}</p>
        {{#eq user.role 'admin'}}
            <!-- Opciones específicas del administrador aquí -->
            <p>Tienes funciones de administrador: adminCoder@coder.com</p>
        {{/eq}}
        <button onclick="location.href='/auth/logout'">Logout</button>
    {{else}}
        <button onclick="location.href='/register'">Registrarse</button>
        <button onclick="location.href='/login'">Iniciar Sesión</button>
    {{/if}}
    <ul>
        {{#each products}}
            <li>
                <h2>{{this.title}}</h2>
                <p>{{this.description}}</p>
                <p>Precio: ${{this.price}}</p>
                <!-- Opción para agregar al carrito -->
                <button onclick="addToCart('{{this._id}}')">Agregar al Carrito</button>
                <!-- Opción para ver detalles -->
                <button onclick="location.href='/products/{{this._id}}'">Ver Detalles</button>
            </li>
        {{/each}}
    </ul>
    <!-- Botón para ver el carrito -->
    <a href="/carts/65d164a20b30c329286c4c5a">Ver Carrito</a>
    <!-- Paginación -->
    {{#if prevPage}}
        <button onclick="location.href='/products?page={{prevPage}}'">Anterior</button>
    {{/if}}
    {{#if nextPage}}
        <button onclick="location.href='/products?page={{nextPage}}'">Siguiente</button>
    {{/if}}
    <script>
        function addToCart(productId) {
            // Utiliza el ID del carrito que ya está creado
            const cartId = '65d164a20b30c329286c4c5a';
            fetch(`/carts/${cartId}/products`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId: productId, quantity: 1 }) // Asumiendo que se agrega 1 unidad
            })
            .then(response => {
                if(response.ok) {
                    alert('Producto agregado al carrito');
                } else {
                    alert('Error al agregar el producto');
                }
            })
            .catch(error => console.error('Error:', error));
        }
    </script>

</body>
</html>
