<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{product.title}}</title>
</head>
<body>
    <h1>Detalles del Producto: {{product.title}}</h1>
    <div>
        <img src="{{product.thumbnail}}" alt="{{product.title}}" style="width:100px;height:100px;">
        <p>Descripción: {{product.description}}</p>
        <p>Precio: ${{product.price}}</p>
        <p>Código: {{product.code}}</p>
        <p>Stock: {{product.stock}}</p>
    </div>
</body>
</html>
