<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmación de la Compra</title>
</head>
<body>
    <h1>Confirmación de la Compra</h1>
    {{#if productsWithInsufficientStock.length}}
        <p>Stock insuficiente en los siguientes productos:</p>
        <ul>
            {{#each productsWithInsufficientStock}}
                <li>Producto: {{this.productId.title}} - Cantidad: {{this.quantity}}</li>
            {{/each}}
        </ul>
        <p>Por favor, revise su carrito y haga los ajustes necesarios.</p>
    {{else}}
        <ul>
            {{#each cart.products}}
                <li>
                    Producto: {{this.productId.title}} - Cantidad: {{this.quantity}}
                </li>
            {{/each}}
        </ul>
        <p><strong>Monto Total a Pagar: AR$ {{totalAmount}}</strong></p>
        <form id="purchase-form" action="/api/carts/{{cartId}}/confirm-purchase" method="POST">
            <button type="submit">Confirmar Compra y Pagar Ahora → </button>
        </form>
    {{/if}}
</body>
</html>
