<!-- ticket.handlebars -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Ticket de Compra</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="ticket-container">
        <h1>Compra Confirmada con Éxito</h1>
        <p>El Ticket de Compra será guardado por un periodo de 48hs</p>
        <p>Verifica tu correo donde te llegarán los datos de tu compra</p>
        <p><strong>Número de Ticket:</strong> {{ticketId}}</p>
        <p class="pticket"><strong>Total a Pagar:</strong> AR$ {{amount}}</p>
        <h2>Productos Comprados:</h2>
        <ul>
            {{#each products}}
                <li>{{this.productId.title}} - Cantidad: {{this.quantity}} - Precio: AR$ {{formatPrice this.productId.price}}</li>
            {{/each}}
        </ul>
        <p><strong>→ Para realizar la compra ingrese en este link: www.mercadopago.com</strong></p>
        <p>Saludos,</p>
        <p>BigTecnology a su servicio</p>
    </div>
</body>
</html>
